
/* Reset */
*{

	margin:0;

	padding:0;

	/* border:0; */

	font-size:100%;

	vertical-align:baseline;

}

a{
	text-decoration: none;
	color: #06C;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 15px;
	line-height: 20px;
	background-color: #909090;
}

.clear{
	clear: both;	
}

.page{
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
	min-height: 500px;
	text-align: center;
}

.dealer-cards .card, .player-cards .card {
	margin-left: 5px;
}

.dealer-cards .card:first-child, .player-cards .card:first-child{
	margin-left: 0;
}

 .new-cards .card:first-child{
	margin-left: 5px;
}

.dealer-cards, .player-cards{
	padding-top: 10px;
	width: 164px;
	margin: 0 auto;
}

.dealer-total, .player-total{
	margin-top: 10px;
}

 .buttons{
	width: 210px; 
	margin: 20px auto 0 auto;
 }

.flipped{
	background-position: -158px -492px !important;
}


.btn {
	font: bold 13px "Helvetica Neue", Helvetica, Arial, clean, sans-serif !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
	border-radius: 5px;
	display: inline-block;
	color: white;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background-color: #A9014B;
	border-style: none;
	text-align: center;
	overflow: visible;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-top: 10px;
	height: 40px;
	width: 100px;
	 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
 
.btn:hover, .btn:focus {
	background-position: 0 -50px;
	color: white;
	background-color: #c90059;
}
 
.btn:active {
	background-color: #7c0d3e;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow: none;
}
img{
	width: 30%;
}
.card {
	display: inline;
    /* float: left; */
    height: 123px;
    width: 79px;
}

.message{
	font-size: 25px;
	margin-top: 30px;
	height: 60px;
}

.dealer-total{
	visibility: hidden;
}
.bet{
	width: 50px;
	margin: 0 auto;
	height: 40px;
}

.betting-area{
	width: 70px;
	margin: 30px auto 30px auto;
}

.betting-area #more{
	float: left;
	width: 30px;
}

.betting-area #less{
	float: left;
	width: 30px;
}

.money{
	color: green;
	font-size: 21px;
}
#hit, #stand{
	display: none;
}
#start{
	margin-top: 20px;
}